*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Trembuchet MS, montserrat, sans-serif;
	background: #9e74ad;

}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

:root {
	--white-color: #fff;
	--purple-color: #9e74ad;
	--dark-purple-color: #5d006b;
}

/*parte principal do site*/
.container {
	background: var(--purple-color);
	min-width: 70%;
	max-width: 100%;
}



.container-top {
	background: url("pic/header.png") repeat-x;
	float: top center;
	height: 14em;
	min-height: 226px;
	min-width: 700px;
	position: relative;


	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	-o-box-shadow:      5px 5px 10px #555;
	-moz-box-shadow:    5px 5px 10px #555;
	-webkit-box-shadow: 5px 5px 10px #555;
	box-shadow:         5px 5px 10px #555;
}

.area-logo {
	width: 100%;
	height: 226px;
	background: url(pic/acaibanner.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;


}

.logo a {
	position: absolute;
	top: 40px;
	left: 45px;
	background: url(C:/Users/Antonio/Desktop/acaidolilo/pic/logo2.png) no-repeat;
	z-index: 3;
	width: 240px;
	height: 240px;
	text-indent: -9000px;

}

.area-menu {
	background: url(pic/menu.png);
	height: 226px;
	min-width: 450px;
	width: 450px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

#menu-content {
	margin-left: 25px;
	padding-top: 20px;
	float: clean;
}

#adress-menu a {
	text-decoration: none;
	color: white;
	font-size: 0.95em;
	text-align: center;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;


}

#adress-menu a p {
	text-decoration: none;
	color: white;
	font-size: 0.95em;
	text-align: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 5px;
	margin-top: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 780px) {
  #adress-menu a,
  #adress-menu a p,
  #adress-menu a img {
   display: none;
  }

  #vertical-navbar-itens  {
  	display: inline;
  }

  ul#vertical-navbar-itens a {
  	display: flex;
  	flex-direction: column;
  }

}

#adress-menu img {
	width: 35px;
	height: 35px;
	color: white;
	padding-right: 10px;
}

#adress-menu:hover {
	transform: scale(1.05);
	transition: all 0.5s;
}

nav {
	padding-top: 20px;
	padding-left: 30px;
}

nav img {
	margin-top: 30px;
}

nav img:hover {
	transform: scale(1.2);
	transition: all 0.5s;
}

ul {
	padding: 0px;
	margin-top: 10px;
	list-style: none;
}

ul#vertical-navbar-itens a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1.7em;
	padding: 5px;

	font-weight: bold;
}

ul#vertical-navbar-itens a:hover{
	background: white;
	color: purple;
	transition: 0.2s;

}

ul#vertical-navbar-itens {
	text-decoration: none;
	color: white;
	float: left;
}

img#vertical-navbar {
	display: flex;
	flex: center;

}

/*conteudo*/

#main-container {
	width: 85%;
	height: 425vh;
	margin: 5%;
	display: flex;
	background: var(--dark-purple-color);
	flex-direction: column;
	align-items: center;


	-o-box-shadow:      5px 5px 10px #555;
	-moz-box-shadow:    5px 5px 10px #555;
	-webkit-box-shadow: 5px 5px 10px #555;
	box-shadow:         5px 5px 10px #555;
}

#main-container h2 {
	color: var(--white-color);
	padding-top: 3vh;
	padding-bottom: 2vh;
}

#goods-store {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;	
	width: 90%;
	height:80vh;

	
}

.product-box-area-1 {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.acai {
	border: 1.5px solid var(--white-color);
	border-radius: 3px;
	padding-bottom: 3px;
	color: var(--white-color);
	margin-bottom: 2vh;
	margin-top: 2vh;

}

.acai a{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

	font-weight: bold;
	color: var(--white-color);
}

.product-box-area-1 a img {
	width: 35vh;
	height: 25vh;
	
}

.product-box-area-1 a img:hover {
	width: 37vh;
	height: 27vh;
	transition: 0.3s;
	border-color: var(--dark-purple-color);
	color: var(--dark-purple-color);
	
}

#local-map-area {
	padding-top: 3vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#contact-info {
	padding: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#contact-info a {
	text-decoration: none;
	color: var(--white-color);
	padding: 2vh;
	margin-top: 2vh;
	font-size: 25px;
	font-weight: bold;


}

#contact-info a img{
	width: 100%;
	height: 90px;
}
#contact-info a img:hover{
	width: 110%;
	height: 100px;
	transition: 0.3s;
}

#contact-info h1 {
	color: var(--white-color);
}

/* botão */

/*
#go-up a {
	width: 15vh;
	height: 15vh;
	background: var(--white-color);
	color: var(--dark-purple-color);
	position: sticky;
	display: flex;
	float: right;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
}

#go-up a:hover {
	background: var(--dark-purple-color);
	color: var(--white-color);
	transition: 0.5s;
} 
*/

#go-to-top-button {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0em;
  border-radius: 50%;
  padding: .20em;
  width: 60px;
  height: 60px;
  background-color: #F8F8F8;
}
 
#go-to-top-button:hover {
	background: var(--dark-purple-color);
	color: var(--white-color);
}


/* rodape */
footer {
	background: white;
	color: purple;
	text-align: center;
	float: bottom; 
	font-weight: bold;

}